header
{
	color             : #f8a978;
	text-align        : center;
	text-shadow       : 5px 4px 15px black;
	border-bottom     : 2px black groove;
	width             : 30%;
	display           : block; 
	margin            : auto;
	margin-bottom     : 10%;
	
	text-align        : center;
}
.accroche
{
	color             : #ffc5a1;
	font-size         : 30px;
}

body
{
	background-color  : #fcf9ea;
	text-align        : center;
}


#carte/*La balise div qui s'appelle carte va s'afficher en fonction de ses 5 lignes*/
{	width            : 800px;/*La largeur du bloc est de 800px*/
	margin            : 0 auto;/*Place la zone de 800px au milieu de la page*/
	background-color  : white;
	text-align        : center;/*Centre le txt*/
	-ms-flex-line-pack: center;
	    align-content : center;/*Centre les img*/

}
